* {
  font-family: 'Open Sans', sans-serif;
}

body, html {
  height: 100%;
  background-color: black;
}

.bg {
  background-image: url('./assets/bg.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  min-height: 100vh;
}

.vh {
  height: 100vh;
}

.app-card {
  height: 90px;
  width: 280px;
  margin: 10px;
  background-color: #222 !important;
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.25));
}

.app-card:hover {
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0));
}

.card-img {
  max-width: 60px;
  margin-right: 15px;
  float:left;
}

.clickable {
  cursor: pointer;
}

.main-container {
  height: 100vh;
  width: 100vw;
}